@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat-800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}

#app {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
}

#game-canvas {
    display: block;
    touch-action: none;
}

#rotate-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media (orientation: landscape) {
    #rotate-warning {
        display: flex;
    }
    #game-canvas {
        display: none;
    }
}
